{
  "comments": false,
  "plugins": [
    "@babel/plugin-external-helpers"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": { "node": "current" }
      }
    ]
  ]
}
