{
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": 0,
    "indent": [ "error", 2 ]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "babel-eslint"
}
